<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rinnv.tieuluancnpm">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Topic_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_topic_"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rinnv.tieuluancnpm.MainActivity" />
        </activity>
        <activity
            android:name=".Word_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_word_"
            android:parentActivityName=".Topic_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rinnv.tieuluancnpm.Topic_Activity" />
        </activity>
        <activity android:name=".Game"
            android:screenOrientation="portrait"/>
        <activity android:name=".Test"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LockScreenActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".LockScreenService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".LockScreenReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>
    </application>

</manifest>